
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     }
   
   body {
     background-color:#1F2937;
     padding: 60px 30px 10px 30px;
     width: 45%;
     height: 85%;
     margin: 0 auto;
     border: solid 2px #fff;
     margin-top: 75px;
     margin-bottom: 90px;
       }


       .character-amount-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        
        
      }

      #characterAmountNumber {
        width: 10%;
        font-size: 20px;
        font-weight: bold;
        
        
      }

      #characterAmountRange {
        width: 40%;
        
      }

    /** Generate a random password **/

    .header h2{
      
      margin-top: 80x;
      color: #33c13a;
      font-family: 'Karla', sans-serif;
      font-size: 45px;
      width: 400px;
      }

      .text-accent {
        color: #fff;

      }

      /** Never use an insecure password again **/

        .header2 p{
          color: #D5D4D8;
          font-size: 22px;
          font-weight: normal;
           margin-top: 20px;
           margin-bottom: 50px;

        }
      
      

      input {
        
        
        height: 60px;
        width: 100%;
        border-radius: 6px;
        border: none;
        margin: 20px 10px 10px 10px;
        cursor: pointer;
        font-size: 17px;
        display: flex;
        background-color: #273549;
        color: #55F991;
        text-align: center;
        }
       
       input::placeholder{
         font-size: 23px;
         
        } 

        

       
        #button {
            font-family: sans-serif;
            font-size: 23px;
            margin-top: 25px;
            border: 2px solid #34D399;
            width: 250px;
            height: 50px;
            text-align: center;
            background-color: #34D399;
            display: flex;
            color: #FFFFFF;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 5px;  
            margin-bottom: 10px;
          }
          
           .btn2{
             margin-left: 85px
           }
          
          #button:hover {
            color: black;
            background-color: #fff;
          }

          .boxes  {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px 2em;
            margin-top: 20px;
          
            

          }

          hr {
            background-color: #fff;
            height: 2px;
            border: none;
            
          }

         
